.name{
    margin-left:2em;
    margin-top:1em;
    margin-bottom:1.5em;
}

.work{
    font-size:1.5em;
    margin-left:2.5em;
}

.container-all{
    display: flex;
}

.left-container{
    width:30%;
}

.right-container{
    width:60%
}

.project1{
    margin-top:2em;
    margin-left:4em;
    display:flex;
}

.project2, .project3, .project4, .project5, .project6, .project7, .project8{
    margin-top:8em;
    margin-left:4em;
    display:flex;
}

.uml{
    padding-top:2em;
    padding-left:7em;
    font-size:1.2em;
}

.left{
    width:30%;
}

.right{
    margin-left:10em;
    width:90%
}

.title{
    font-size:1.7em;
}

.description{
    margin-top:2em;
}

.repo{
    margin-bottom: 2em;
    width:70%;
}

.right2{
    margin-right:8em;
    margin-left:10em;
    width:90%
}

.skill{
    padding-top:1.2em;
}

.video{
    padding-top:2em;
}

.notice{
    padding-left:2em;
}